# IDEs
.idea/
.vscode/
.nyc_output/

ca-certificates.crt
courier-website
courier-website.iml
node_modules/
build/
copy-gm-projs.sh
.DS_Store
cypress/screenshots/
cypress/videos/
coverage/
report*.json
githubkey
